.Hamburger {
  height: 50px;
  width: 50px;
  background-color: rgb(56, 56, 56);
  /* background-image: url(/img/greylogo.png); */
  /* background-image: url("../../images/greylogo.png"); */
  border-radius: 5px;
  position: absolute;
  z-index: 200;
  right: 20px;
  top: 10px;
}

.hamburger-dropdown {
  display: none;
  border-radius: 5px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 50px;
}
img{
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
