img{
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.logo {
  position: absolute;
  z-index: 200;
  right: 20px;
  top: 10px;

}

/* .modal {
    border: 1px solid blue
} */
.modal-content {
  background-color: #00000000;
  border: none;
  /* display: none; */
  position: absolute;
  top: -20px;
}