body {
  margin: 0;
}
.awssld__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div {
  background-size: cover;
  background-position: center;
}
.mantra {
 color: rgb(223, 222, 222);
  font-size: 4em;
  padding: 5%;
  text-shadow: 2px 2px 4px #000000;
  line-height: 1;
  z-index: 11;}

/* .title {
  color: rgb(223, 222, 222);
  border: 3px solid red;
  font-size: 4em;
  padding: 5%;
  text-shadow: 2px 2px 4px #000000;
  line-height: 1;
  z-index: 11;
} */
.sub-title {
  color: white;
}
.box-title {
  background-color: rgba(34, 34, 34, 0.959);
  color: white;
  padding: 10px 25px;
}
.directions-container {
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: rgba(44, 44, 44, 0.932);
  height: 40vh;
  width: 100vw;
}
.directions {
  font-size: 1.6rem;
  color: white;
 margin: 0% 20%
}
.autoplay {
  position: absolute;
  right: 20px;
  top: 45px;
  color: #333;
  z-index: 3;
}
.autoplay-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 30px;
  top: 65px;
  color: #333;
  z-index: 3;
}
.form-control:focus {
  color: white;
}
.form-control {
  background-color: white;
}
input {
  color: white;
  border: 4px solid red;
}
@media only screen and (max-device-width: 600px) {
  .title {
    color: rgb(223, 222, 222);
    font-size: 2em;
    padding: 5%;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1;
    z-index: 11;
  }
  .small-dark {
    font-size: 1.3rem;
  }
}
